.chat-you-cont {
  display: flex;
  height: 105px;
  background: rgb(215, 199, 244);
  border-radius: 20px;
  align-items: center;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;

  width: 96%;
}
.chat-you-cont-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.chat-you-cont-heading {
  font-family: monospace;
  font-size: 17px;
  font-weight: 700;
}
.chat-you-cont-chat {
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
}
.chat-you-cont-time {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.62);
}
